---

- ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "../vars/{{ ansible_facts['distribution_release'] }}.yml"
    - "../vars/empty.yml"
  tags: ["proxmox"]

- ansible.builtin.include_vars: "{{ item }}"
  with_first_found:
    - "../vars/{{ ansible_facts['architecture'] }}.yml"
    - "../vars/empty.yml"
  tags: ["proxmox"]

- name: Add ssh keys
  become: true
  authorized_key:
    path: /root/.ssh/authorized_keys2
    user: root
    state: present
    key: "{{ proxmox_sshkey }}"
    exclusive: true
  when: proxmox_sshkey != ""
  tags: ["proxmox"]

- name: update repository
  become: true
  tags: ["proxmox"]
  block:
    - name: remove proxmox repositortrue
      file:
        path: "/etc/apt/sources.list.d/{{ item }}"
        state: absent
      with_items:
        - proxmox.list
        - ceph.list

    - name: install gpg
      become: true
      ansible.builtin.apt:
        name: gpg
        state: present

    - name: get proxmox apt key
      ansible.builtin.get_url:
        url: "https://enterprise.proxmox.com/debian/proxmox-release-{{ ansible_facts['distribution_release'] }}.gpg"
        dest: /etc/apt/keyrings/proxmox-release.gpg

    - name: apt clean
      replace:
        path: /etc/apt/sources.list
        regexp: 'deb.*(download\.proxmox\.com).*'
        replace: ""
      ignore_errors: true

    - name: add pve-no-subscription repository
      ansible.builtin.apt_repository:
        repo: deb [arch=amd64 signed-by=/etc/apt/keyrings/proxmox-release.gpg] http://download.proxmox.com/debian/pve {{ ansible_facts['distribution_release'] }} pve-no-subscription
        state: present
        filename: pve-no-subscription
        update_cache: false
      register: pve_no_subscription

    - name: remove pve-enterprise repository
      ansible.builtin.apt_repository:
        repo: deb https://enterprise.proxmox.com/debian/pve {{ ansible_facts['distribution_release'] }} pve-enterprise
        state: absent
        update_cache: false
      register: pve_enterprise

    - name: remove pve-enterprise repository file
      become: true
      file:
        path: /etc/apt/sources.list.d/pve-enterprise.list
        state: absent
      tags: ["proxmox"]

    - name: apt update
      ansible.builtin.apt:
        update_cache: true
      when: pve_no_subscription.changed or pve_enterprise.changed

- name: install ifupdown2
  become: true
  ansible.builtin.apt:
    name: ifupdown2
    state: latest
  tags: ["proxmox"]

- name: install proxmox-ve
  become: true
  ansible.builtin.apt:
    name: "{{ proxmox_packages }}"
    state: present
  when: proxmox_packages|length > 0
  register: proxmox
  tags: ["proxmox"]

- name: remove os-prober
  become: true
  ansible.builtin.apt:
    name: os-prober
    state: absent
  when: proxmox.changed
  tags: ["proxmox"]

- include_tasks:
    file: "{{ item }}"
  with_first_found:
    - "{{ ansible_facts['bios_vendor']|regex_replace('[ ,\\.]','') }}.yml"
    - "none.yml"
  tags: ["proxmox"]

- become: true
  tags: ["proxmox"]
  block:
    - name: prepare cluster firewall
      shell: "touch /etc/pve/firewall/cluster.fw"
      args:
        creates: /etc/pve/firewall/cluster.fw
    - name: firewall
      template:
        src: cluster.fw.j2
        dest: /etc/pve/firewall/cluster.fw
        owner: root
        group: www-data
        mode: 0640

    - name: prepare files
      shell: "touch /etc/pve/nodes/{{ ansible_facts['hostname'] }}/host.fw"
      args:
        creates: "/etc/pve/nodes/{{ ansible_facts['hostname'] }}/host.fw"
    - name: node firewall
      template:
        src: host.fw.j2
        dest: "/etc/pve/nodes/{{ ansible_facts['hostname'] }}/host.fw"
        owner: root
        group: www-data
        mode: 0640
      ignore_errors: true

- become: true
  tags: ["proxmox"]
  when: proxmox_roles|length > 0 or proxmox_users|length > 0
  block:
    - name: prepare user file
      shell: "touch /etc/pve/user.cfg"
      args:
        creates: /etc/pve/user.cfg
    - name: update role
      lineinfile:
        path: "/etc/pve/user.cfg"
        regexp: "^role:{{ item.name }}:"
        insertafter: "^role:"
        line: "role:{{ item.name }}:{{ item.privileges|join(',') }}:"
      with_items: "{{ proxmox_roles }}"

    - name: ensure users exists
      lineinfile:
        path: "/etc/pve/user.cfg"
        regexp: "^user:{{ item.name }}:"
        insertafter: "^user:"
        line: "user:{{ item.name }}:1:0::::::"
      with_items: "{{ proxmox_users }}"
    - name: update users permissions
      lineinfile:
        path: "/etc/pve/user.cfg"
        regexp: "^acl:1:{{ item.path }}:{{ item.name }}:"
        insertafter: "^role:"
        line: "acl:1:{{ item.path }}:{{ item.name }}:{{ item.role }}:"
      with_items: "{{ proxmox_users }}"

- become: true
  tags: ["proxmox"]
  when: proxmox_openids|length > 0
  block:
    - name: prepare files
      shell: "touch /etc/pve/domains.cfg"
      args:
        creates: "/etc/pve/domains.cfg"
    - name: cluster oauth2
      template:
        src: domains.cfg.j2
        dest: "/etc/pve/domains.cfg"
        owner: root
        group: www-data
        mode: 0640

- name: Install scheduler
  include_tasks: scheduler.yml
